@use '@angular/material' as mat;
@use 'variables' as v;

.header {
  background-color: v.$background-item;
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  z-index: 2;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title-group {
  padding-left: 84px;
}

.header .title-group i {
  padding-right: 14px;
}
