@use "variables" as v;
@use "mixins" as m;

.container {
  height: 100vh;
  overflow: auto;
}

.side-nav {
  @include m.gradient-bg(to right bottom, v.$primary, v.$secondary);
  width: 200px;
  border-radius: 0;

}

.side-nav i {
   font-size: 1em;
  padding-right: 10px;
}

mat-sidenav-content {
  padding: 80px 16px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  background-color: v.$background-content;
}

.sub-items {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.02);

  .sub-item {
    padding-left: 36px !important;

    &.active {
      background: rgba(0, 0, 0, 0.04);
      font-weight: 500;
    }
  }
}

.toggle-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
  transform: rotate(180deg);

  .expanded & {
    transform: rotate(180deg);
  }
}

.logo {
  max-height: 52px;
  max-width: 200px;
  width: 160px;
}

.logo-content{
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  margin-top: 10px;
  width: 160px;
  border-radius: 10px;
  height: 32px;

  &:hover {
    background-color: #0c4160;
  }
}

.mat-mdc-nav-list .mat-mdc-list-item span {
  padding: 6px;
  font-size: .8rem;
}
