<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="side-nav" mode="side" opened>
    <mat-nav-list class="nav-list">
      <ng-container *ngFor="let item of navItems()">
        <div *ngIf="item.children; else singleItem">
          <a mat-list-item
             (click)="toggleItem(item)"
             [class.expanded]="item.isExpanded"
             [class.active-parent]="isActive(item.route) ||
                (item.children && hasActiveChild(item))">
            <i class="material-icons v-middle">{{item.icon}}</i>
            <span>{{item.label}}</span>
            <i class=" material-icons toggle-icon v-middle">
              {{item.isExpanded ? 'expand_less' : 'expand_more'}}
            </i>
          </a>
          <div *ngIf="item.isExpanded" class="subitems">
            <a *ngFor="let child of item.children"
               mat-list-item
               class="subitem"
               [routerLink]="child.route"
               routerLinkActive="active">
              <i class="material-icons v-middle">{{child.icon}}</i>
              <span>{{child.label}}</span>
            </a>
          </div>
        </div>
        <ng-template #singleItem>
          <a mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active">
            <i class="material-icons v-middle">{{item.icon}}</i>
            <span>{{item.label}}</span>
          </a>
        </ng-template>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
