.container {
  height: 100vh;
  overflow: auto;
  padding-bottom: 60px;
}

.side-nav {
  background-color: #0c4160;
  width: 200px;
  border-radius: 0;
  padding-top: 64px;

}

.side-nav i {
  padding-right: 20px;
}

mat-sidenav-content {
  padding: 80px 16px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
