.container {
  height: 100vh;
  overflow: auto;
  padding-bottom: 60px;
}

.side-nav {
  background-color: #0c4160;
  width: 200px;
  border-radius: 0;
  padding-top: 64px;

}

.side-nav i {
  padding-right: 20px;
}

mat-sidenav-content {
  padding: 80px 16px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.subitems {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.02);

  .subitem {
    padding-left: 56px !important;
    height: 40px !important;

    &.active {
      background: rgba(0, 0, 0, 0.04);
      font-weight: 500;
    }
  }
}

.toggle-icon {
  margin-left: auto;
  transition: transform 0.2s;

  .expanded & {
    transform: rotate(180deg);
  }
}

